<html>
    <header>
        <h1 style="text-align: center;">Book Details</h1>
        </header>

        <p>
            <ul>
              <li><a href="home.html">Home Page</a></li>
              <li><a href="Books.html">Books</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="Survey.html">Survey</a></li>
              <p style="text-align: center;"><img src="A_tale_of_2_cities.jpg" alt="A_tale_of_2_cities" width="200" height="300" align="center" /></p>
              <p style="text-align: center;"><strong>A tale of 2 cities</strong> <br /> Author: Charles Dickens <br /> Publisher: London: Chapman & Hall <br /> Genre: Historical novel <br /> Country of Origin: United Kingdom</p>

            </ul>
          </p>
      

</html>