<html>
    <header>
        <h1 style="text-align: center;">Book Details</h1>
        </header>

        <p>
            <ul>
              <li><a href="home.html">Home Page</a></li>
              <li><a href="Books.html">Books</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="Survey.html">Survey</a></li>
              <p style="text-align: center;"><img src="davinci_code.jpg" alt="davinci_code" width="200" height="300" align="center" /></p>
              <p style="text-align: center;"><strong>The Davinci Code</strong> <br /> Author: Dan Brown <br /> Publisher: Doubleday <br /> Genre: Mystery, Fiction <br /> Country of Origin: United States</p>

            </ul>
          </p>
      

</html>