<html>
<header>

    <p>
        <ul>
          <li><a href="home.html">Home Page</a></li>
          <li><a href="Books.html">Books</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="Survey.html">Survey</a></li>
        </ul>
        <h1 style="text-align: center;">Survey Page</h1>
      </p>
    </header>
  
  <p style="text-align: center;">Name: 
      <input type="text" name="name" size="16"
        maxlength="30" />
  </p>
  <p style="text-align: center;">Date of Birth: 
    <input type="date" name="DOB" size="16"
     />
</p>
<p style="text-align: center;">How likely is it that you<br /> recommend this library<br />to your friends: <br />
    <input id="Very" type="radio" value="very"
     />
     <label for="very">Very Likely</label>
     
     <input id="somewhat" type="radio" value="somewhat"
     />
     <label for="somewhat">somewhat likely</label>

     <input id="not" type="radio" value="not"
     />
     <label for="not">Not Likely</label> <br />

     <input type="submit" name="submit" value="submit"
     >
</p>
 

    </html>